@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>
           
@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Statistics</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Enrollment Date
                    </th>
                    <th>
                        Students
                    </th>
                </tr>

                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnrollmentDate)
                        </td>
                        <td>
                            @item.StudentCount
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

