@{
    ViewBag.Title = "Dashboard";
}
<h2>@ViewBag.Title</h2>


            <div id="chartContainer">
                <script type="text/javascript">

                    window.onload = function() {
                        var chart = new CanvasJS.Chart("chartContainer",
                            {
                                theme: "light2",
                                animationEnabled: true,
                                title: {
                                    text: "Enrollments in Contoso University"
                                },
                                subtitles: [
                                    { text: "Try Resizing the Browser" }
                                ],
                                data: [
                                    {
                                        type: "line", //change type to bar, line, area, pie, etc
                                        dataPoints: [
                                            { x: 10, y: 71 },
                                            { x: 20, y: 55 },
                                            { x: 30, y: 50 },
                                            { x: 40, y: 65 },
                                            { x: 50, y: 95 },
                                            { x: 60, y: 68 },
                                            { x: 70, y: 28 },
                                            { x: 80, y: 34 },
                                            { x: 90, y: 14 }
                                        ]
                                    }
                                ]
                            });

                        chart.render();
                    };
                </script>
            </div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>